* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,
body {
  color: #fff;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 40px;
}

h1 {
  color: #1b1b32;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0px;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Lista de tareas */

.tareas-lista-principal {
  width: 600px;
  min-height: 500px;
  background-color: #d0d0d5;
  padding: 25px;
  margin: 25px;
  /* justify-content: center; */
  border-radius: 26px;
}